<h1></h1>
<div class="border-form-div">
  <h2 class="form-titles">Sign up</h2>
  <%= form_for @user, url: create_user_path do |f| %>

    <div class="field">
      <%= f.label "First Name" %><br />
      <%= f.text_field :f_name %>
    </div>

    <div class="field">
      <%= f.label "Last Name" %><br />
      <%= f.text_field :l_name %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :type %> <br />
      <%= f.text_field :type %>
    </div>

    <div class="field">
      <%= f.label "If teacher:" %> <br />
      <%= f.text_field :class_name %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => 'btn btn-primary' %>
    </div>
  <% end %>

</div>
